<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>We've compiled some of the sickest skills out there into an array of objects:</h2>
    <ul>
      <% skills.forEach(function(element) { %>
        <li>
          <a href="/<%= element.id %>"><%= element.name %></a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
